# Example environment values.
# This file will be read by the Git Action when testing the example.

# My base URL is where the application would be visible to the outside world. This is used when sending links to users.
MY_BASE_URL=https://sample.org/

# WhatsApp Phone ID is the phone number ID of the WhatsApp Business account.
WHATSAPP_PHONE_ID=1234567890

# WhatsApp Server URL is the server URL for the WhatsApp Business API.
WHATSAPP_SERVER_URL=https://api.whatsapp.com/

# WhatsApp Token is the token for the WhatsApp Business API.
WHATSAPP_AUTH_TOKEN=some-top-secret-token

# WhatsApp Challenge is the challenge for the WhatsApp Business API.
WHATSAPP_CHALLENGE=some-top-secret-challenge

# Server Port is my server port inside my container.
SERVER_PORT=8080

# Health port is the port for the health check.
HEALTH_PORT=8081
